<%
	pic = GD2::Image.import(_get["path"])
	
	if _get["smartsize"]
		if pic.width > pic.height
			width = _get["smartsize"].to_i
			height = (pic.height.to_f / (pic.width.to_f / width.to_f)).to_i
		else
			height = _get["smartsize"].to_i
			width = (pic.width.to_f / (pic.height.to_f / height.to_f)).to_i
		end
		
		pic.resize!(width, height)
	end
	
	pic.alpha_blending = false
	pic.save_alpha = true
	
	Php.header("Content-Type: image/png")
	print pic.png
%>